{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <div id="app">

    </div>
    <script src="{% static 'dist/bundle.js' %}"></script>
</body>
</html>