<template>
  <div class="container">
    <h1>{{message}}</h1>
  </div>
</template>


<script>
export default {
  name: 'App',
  data() {
    return {
        message: 'Using Parcel In A Vue.js Application',
    };
  },
};
</script>


<style scoped>
.container {
    width: 700px;
    margin: 50px auto;
    text-align: center;
}
</style>